#sidePanel-popup {
    left: 0 !important;
    right: auto !important;
}
#sidePanel {
    border: 1px solid #000;
    border-left: none;
    background: rgba(0,0,0,0);
    margin: -1px 0;
	background-color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#2F3E46;

}
#sidePanel .ui-btn {
    margin: 2em 15px;
}


#nav-header{
	text-align:left;
	padding:0;
}

#sidePanel  .nav-header {
	background-color: red;
	color:blue;
}
#hamburger {
	font-size:30px;
	float:left;
	color: #FFF;
}

#header img {
	border:none;
	padding-left:40px;
	padding-top:10px;
}

#header span {
	float:right;
}

#heroImg {
	width:100%;
	height:100%;
}

#prodList {
	position:relative; 
	z-index:20; 
	top:-40px;
}

footer {
	padding:10px;
}